/* From Uiverse.io by joe-watson-sbf */ 
.flip-card {
    perspective: 10000px;
}

.flip-card-inner {
    transition: transform .8s;
    transform-style: preserve-3d; 
}

.flip-card-front, .flip-card-back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

/* configura todas as divs globalmente dos flip cards front e back */
.flip-card-front > div, .flip-card-back > div {
    z-index: 10;
}

.flip-card-back {
    transform: rotateY(180deg);
}
