.bubble {
    box-shadow: rgba(0, 0, 0, 0.30) 0px -12px 16px 0px inset,rgba(0, 0, 0, 0.09) 0px -10px 15px -8px;
    background: radial-gradient(circle at 10% -15%,#00ddeb 30%,#5b42f3 50%,#af40ff);
    /* animation: floatBuble 4s ease-in-out infinite; Animação suave */
}

@keyframes floatBuble {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.test {
    white-space: pre-wrap;
    word-break: break-all;
}