.booble {
    box-shadow: rgba(0, 0, 0, 0.30) 0px -12px 16px 0px inset,rgba(255, 0, 0, 0.09) 0px -10px 15px -8px;
    background-color: #5b42f3;
    background-image: 
        radial-gradient(at 81% 39%, #5b42f3 0px, transparent 50%),
        radial-gradient(at 35% 50%, #af40ff 0px, transparent 40%),
        radial-gradient(at 23% 20%, #00ddeb 0px, transparent 50%);
    
    /* background: linear-gradient(144deg,#af40ff 15%,#5b42f3 55%,#00ddeb); */
}

.TEST{
    
    background: linear-gradient(144deg,#af40ff,#5b42f3 50%,#00ddeb);
}

/* 
box-shadow: rgba(0, 0, 0, 0.17) 0px -10px 10px 0px inset,
   rgba(0, 0, 0, 0.09) 0px -1px 15px -8px;
  background-color: #ff99fd;
  background-image: radial-gradient(at 81% 39%, hsla(327,79%,79%,1) 0px, transparent 50%),
  radial-gradient(at 11% 72%, hsla(264,64%,79%,1) 0px, transparent 50%),
  radial-gradient(at 23% 20%, hsla(75,98%,71%,1) 0px, transparent 50%);
*/