@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin; 
  scrollbar-color: #8b5cf6 white; 
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
